
/// @type List
$default-font: 'Montserrat', sans-serif !default;

/// @type Color
$primary-color: #A595B6 !default;
$secondary-color: #A876E6 !default;
$three-color: #4C2F88 !default;
$darker-blue : #29388C !default;
$dark-blue :#242947 !default;
$light-blue :#7db1de !default;
$grey : #A7A7A7 !default;
$board : #75020A !default;
$green2 : #4AB69E !default;

$white: #ffffff !default;
$red: #ed1248 !default;
$green: #0f8241 !default;
$black: #000 !default;

$side-padding: calc((100vw - 1550px) / 2);
$side-padding-neg: calc((100vw - 1550px) / -2);

/// @type Length
$site-widths: (
  'full-width': 100%,
  'max-width': 1800px,
  'small-width': 993px,
) !default;

$font-sizes: (
  'h1': 55px,
  'h2': 25px,
  'h3': 20px,
  'h4': 18px,
  'h5': 12px,
  'h6': 10px,
) !default;

$font-sizes-tablet: (
  'h1': 40px,
  'h2': 25px,
  'h3': 16px,
  'h4': 13px,
  'h5': 12px,
  'h6': 10px,
) !default;

$font-sizes-mobile: (
  'h1': 28px,
  'h2': 20px,
  'h3': 14px,
  'h4': 13px,
  'h5': 12px,
  'h6': 10px,
  ) !default;

$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'demi': 600,
  'bold': 700,
) !default;

/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$breakpoints: (
'mobile-s': 375px,
'mobile-v': 600px,
'mobile-h': 750px,
'mobile-c': 768px,
'tablet-v': 900px,
'tablet-h': 1050px,
'desktop-h': 1200px,
'desktop-s': 1300px,
'full-desktop': 1460px,
'container': 1600px,
) !default;