.profesionales {
    background-image: url('images/wave.svg');
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 10px;

    @include responsive('mobile-h') {
        padding-bottom: 20px;
    }

    &__cont {
        padding: 40px 0;
    }

    &__title, &__subtitle {
        color: $white;
        margin-bottom: 30px;
    }

    &__image {
        margin-bottom: 20px;
    }

    &__button {
        border-radius: 15px;
        padding: 20px 60px;
        border: 2px solid $white;

        @include responsive('mobile-h') {
            font-size: 25px;
        }
    }
}

.soporte_nutricional + .profesionales {
    background-color: #EDECEC;
}