.loading-animation {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #000;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
    display: none;
  }
  
  .loading-animation::before, .loading-animation::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .loading-animation::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #000;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .loading-animation::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #000;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: #000;
    }
    50%,
    100% {
      background-color: #ddd;
    }
  }
  .loading,
  .js-loading {
      .loading-animation {
          display: block;
      }
  }
  /*
  #lineworkThree {
    height: 200%;
    width: 200%;
    display: block;
    position: absolute;
    z-index: 2;
    bottom: -110%;
    right: -80%;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: perspective(600px) translate3d(0, 0, 0);

  }
*/